[submodule "php/account"]
	path = php/account
	url = https://github.com/voyc/account
[submodule "html/minimal"]
	path = html/minimal
	url = https://github.com/voyc/minimal
[submodule "html/icon"]
	path = html/icon
	url = https://github.com/voyc/icon
[submodule "html/jslib"]
	path = html/jslib
	url = https://github.com/voyc/jslib
[submodule "html/fx"]
	path = html/fx
	url = https://github.com/voyc/fx
[submodule "html/layout"]
	path = html/layout
	url = https://github.com/voyc/layout
[submodule "html/geolib"]
	path = html/geolib
	url = https://github.com/voyc/geolib
