#hud.move   { cursor:move; }
#hud.point  { cursor:pointer; }
#hud.sketch { cursor:default; }
#hud.measure{ cursor:ew-resize; }

.toolbtn.down { background-color:yellow; }
.editbtn.down { background-color:yellow; }
.shapebtn.down { background-color:yellow; }

.hud {
	position:fixed;
	xmargin:.5rem;
	padding:.5rem;
	background: rgba(255, 255, 255, 0.8);
	font-family: Verdana;
}
#toolbar {
	position:fixed;
	left:0;
	top:3rem;
}
#editbar {
	position:fixed;
	left:0;
	top:20rem;
}
button[g] {
	padding-top:4px;	
}
icon {
	width:2em;
	height:2em;
}
#menubtn {
	left:0;
	top:0;
}
#userbtn {
	position:fixed;
	right:0;
	top:0;
}
#layerbtn {
	position:absolute;
	left:0;
	bottom:3rem;
}
#layerbtn.mobile {
	bottom:0rem;
}
#projectbtn.mobile {
	right:0rem;
}
#projectbtn {
	position:absolute;
	bottom:0rem;
	right:4rem;
}
#layermenu {
	display:table;
	bottom:6rem;
	top:unset;
}
#layermenu div {
	display:table-row;
}
#layermenu div span {
	display:table-cell;
	padding:.5rem;
	vertical-align:middle;
}
.layerpalettebtn {
	display:table-cell;
	margin-right:.3rem;
}
#label {
	background-color:#ff8;
	border:4px ridge #ff4;
}
#announce {
	left:50%;
	top:50%;
	transform:translate(-50%,-50%);
	-webkit-transform:translate(-50%,-50%);
	width:50%;
	height:30%;
	background-color:#ff8;
	border:4px ridge #ff4;
	text-align:center;
}
#announcedone {
	position:fixed;
	bottom:5px;
}
#whereami.mobile {
	display:none;
}
#whereami {
	left:0;
	bottom:0;
	height:1em;
	width:7em; /* 5.5em; */
	text-align:center;
}
#loading.off {
	display:none;
}
#loading {
	left:2.5rem;
	top:0;
	height:1rem;
	width:6rem;
	text-align:left;
}
#hudspeed {
	float:right;
}
#refglobe {
	right:0;
	bottom:0;
	width:5rem;
	height:5rem;
}
.tcenter {
	text-align:center;
}
#score {
	right:0;
	top:0;
	width:5rem;
	height:2.5rem;
	text-align:right;
	border:4px ridge gray;
	border-radius:4px;
}
#scorebox {
	right:0;
	top:2rem;
	width:10rem;
	height:5rem;
	background-color:#ff8;
	border:4px ridge #ff4;
	text-align:center;
}
@font-face{
    font-family: 'Glass Gauge';
    src: url('GlassGauge.ttf');
}
#mapzoom.mobile {
	display:none;
}
#mapzoom {
	right:0;
	bottom:0;
}
#mapzoom input {
	-webkit-appearance:slider-vertical;
	width:2rem;
	height:7rem;
}

#chronometer {
	bottom:0;
	left:calc(50% - 125px);
	width:250px;
}
#time {
	display:inline-block;
	text-align:center;
	width:178px;
}
#timeslider {
	width: calc(100% - 1rem);
	position: absolute;
	bottom: 0rem;
}

.fade {
  opacity: 0;
  transition: opacity .5s linear;
}
.in {
  opacity: 1;
  transition: opacity .5s linear;
}
#matchmenu p {
	margin-top:0;
	margin-bottom:0;
}
