RewriteEngine On

# if no file is specified, look for a default file in this order
DirectoryIndex index.php index.html

# Append .php to each service request.
RewriteRule ^svc svc.php

# apply php.ini to all folders
lsapi_phpini /home/voyccom/webprod/geo/geo/html/php.ini

